Project/tisseoVelibService/src/main/resources/LikeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/LikeRequest" xmlns:tns="http://www.example.org/LikeRequest" elementFormDefault="qualified">
	<element name="LikeRequest">
		<complexType>
			<sequence>
				<element name="id" type="long"></element>
				<element name="name" type="string"></element>
				<element name="shortName" type="string"></element>
				<element name="like" type="boolean"></element>								
			</sequence>
		</complexType>
	</element>
</schema>