Resources/NextBusMetroRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NextBusMetroRequest" xmlns:tns="http://www.example.org/NextBusMetroRequest" elementFormDefault="qualified">
	<element name="NextBusMetroRequest">
		<complexType>
			<sequence>
				<element name="name" type="string"></element>
				<element name="shortName" type="string"></element>
			</sequence>
		</complexType>
	</element>
</schema>